<script setup>
import IconCalendarBlank from '@icons/calendar-blank.svg'
import IconGraduationCap from '@icons/graduation-cap.svg'
import IconDoor from '@icons/door.svg'
import IconStudent from '@icons/student.svg'
import IconUserList from '@icons/user-list.svg'
import IconSettings from '@icons/settings.svg'
import IconArchive from '@icons/archive.svg'
</script>

<template>
    
    <nav>
        <ul class="menu__list">
            <li>
                <a href="" class="menu__link">
                    <div class="link__icon">
                        <IconCalendarBlank/>
                    </div>
                    <span class="text-m text-m_bold link__text">Расписание</span>
                </a>
            </li>
            <li>
                <a href="" class="menu__link link_active">
                    <div class="link__icon">
                        <IconGraduationCap/>
                    </div>
                    <span class="text-m text-m_bold link__text">Учебные сессии</span>
                </a>
            </li>
            <li>
                <a href="" class="menu__link">
                    <div class="link__icon">
                        <IconDoor/>
                    </div>
                    <span class="text-m text-m_bold link__text">Список комнат</span>
                </a>
            </li>
            <li>
                <a href="" class="menu__link">
                    <div class="link__icon">
                        <IconStudent/>
                    </div>
                    <span class="text-m text-m_bold link__text">Пользователи</span>
                </a>
            </li>
            <li>
                <a href="" class="menu__link">
                    <div class="link__icon">
                        <IconUserList/>
                    </div>
                    <span class="text-m text-m_bold link__text">Учебные группы</span>
                </a>
            </li>
            <li>
                <a href="" class="menu__link">
                    <div class="link__icon"></div>
                    <span class="text-m text-m_bold link__text">Список устройств</span>
                </a>
            </li>
            <li>
                <a href="" class="menu__link">
                    <div class="link__icon">
                        <IconSettings/>
                    </div>
                    <span class="text-m text-m_bold link__text">Настройки системы</span>
                </a>
            </li>
            <li>
                <a href="" class="menu__link">
                    <div class="link__icon">
                        <IconArchive/>
                    </div>
                    <span class="text-m text-m_bold link__text">Архив</span>
                </a>
            </li>
        </ul>
    </nav>
</template>

<style lang="scss" scoped>
@import "@scss/mixins/flex.scss";
@import "@scss/mixins/size.scss";
@import "@scss/ui/colors.scss";

.menu {
    &__list {
        display: grid;
        grid-gap: 4px;
    }
    &__link {
        @include flex();
        gap: 12px;
        padding: 12px;
        border-radius: 16px;
    }
}
.link {
    &__icon {
        @include size(24px, 24px);
    }

    &_active {
        background-color: $blue;
        color:$white;
    }
}
</style>