<script setup>
defineProps({
  onClick: Function,
})
</script>

<template>
  <button @click="$emit('click')">
    <slot></slot>
  </button>
</template>

<style lang="scss" scoped>
button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
</style>
