<script setup>
import Menu from "../menu/Menu.vue";
import IconArrow from '@icons/arrow-left.svg'
import IconArrowDown from '@icons/arrow-down.svg'
import IconLogout from '@icons/logout.svg'
import IconRF from '@icons/rf.svg'
import IconLogo from '@assets/logo.svg?url'
</script>

<template>    
    <aside class="aside">

        <div class="aside__header">
          <img :src="IconLogo" alt="" />
          <h1 class="h5">Сим Центр</h1>

          <div class="aside__visible-control visible-control">
            <IconArrow class="visible-control__icon"/>
          </div>
        </div>
  
        <div class="aside__body">
          
            <Menu/>

            <div class="aside__footer">
                <div class="profile">
                    <div>
                        <div class="text-m text-m_bold profile__name">Барнаби Мармадюк</div>
                        <div class="text-s profile__role">Преподаватель</div>
                    </div>
                    <div class="text-m text-m_bold profile__initials">БМ</div>
                </div>

                <div class="profile-controls">
                    <div class="accordion accordion_no-border" :class-names="['button-rect', 'button-square']">
                        <div class="text-m_bold accordion__body">
                            <IconLogout class="accordion__icon"/>
                            Выйти
                        </div>
                    </div>
        
                    <div class="accordion">
                        <div class="text-m_bold accordion__body">
                            <IconRF class="accordion__icon"/>
                            Русcкий
                        </div>

                        <IconArrowDown/>
                    </div>
                </div>
    
                <div class="text-s site-version">
                    Версия 1.02
                </div>
    
            </div>
  
        </div>

    </aside>
</template>

<style lang="scss" scoped>
@import "@scss/mixins/flex.scss";
@import "@scss/mixins/size.scss";
@import "@scss/ui/colors.scss";

.aside {
    @include flex(stretch, space-between, column);
    height: 100vh;
    background-color: $white;

    &__header {
        position: relative;
        height: 84px;
        @include flex(center, center);
        gap: 14px;
        flex: 0 0 auto;
    }

    &__visible-control {
        position: absolute;
        right: -12px;
        top: calc(50% - 12px);
    }

    &__body {
        flex-grow: 1;
        @include flex(stretch, space-between, column);
        padding: 24px 12px 19px;
        gap: 24px;
    }

    &__footer {
        @include flex(stretch, flex-end, column);
        gap: 18px;
    }
}

.visible-control {
    @include flex(center, center);
    @include size(24px, 24px);
    background-color: $black-main;
    border-radius: 50%;
    &__icon {
        @include size(17px, 17px);
        fill: $white;
    }
}

.site {
    &-version {
        color: $black-main-65;
    }
}

.profile {
    padding: 12px;
    @include flex();
    gap: 12px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
    border-radius: 16px;

    &__role {
        color: $black-main-65;
    }
    
    &__initials {
        @include flex(center, center);
        @include size(48px, 48px);
        border-radius: 50%;
        background-color: $blue;
        color: $white;
    }
}

.profile-controls {
    display: grid;
    grid-gap: 4px;
}
.accordion {
    padding: 12px;
    border-radius: 16px;
    border: 1px solid $grey-300;
    @include flex(center, space-between);
    gap: 12px;
    cursor: pointer;

    &__body {
        @include flex(center);
        gap: 12px;
    }

    &__icon {
        @include size(24px, 24px);
    }

    &_no-border {
        border-color: transparent;
    }
}
</style>