<script setup>
const props = defineProps({  
  type: String,
  placeholder: String,
  modelValue: String,
  iconSrc: {
    type: String,
    default: ''
  }
})

const emit = defineEmits(['update:modelValue'])

</script>

<template>
  <div class="input-field">
    <img v-if="iconSrc" :src="iconSrc" alt="" />
    <input
      :value="modelValue"
      @input="e => emit('update:modelValue', e.target.value)"
      :type="type"
      :placeholder="placeholder"
      />
  </div>
</template>

<style lang="scss" scoped>
@import "@scss/mixins/flex.scss";
@import "@scss/mixins/fonts.scss";
@import "@scss/ui/colors.scss";
.input-field {
    @include flex(center, flex-start);
    gap: 8px;
    border-radius: 12px;
    min-height: 44px;
    padding: 0 8px 0 16px;
    border: 1px solid $grey-300;
}
input {
  border: none;
  outline: none;
  &::placeholder {
    @include font(13px, 500, 1.53em);
    color: $black-main;
  }
}
</style>
