<script setup>
import IconArrow from '@icons/arrow-left.svg'
import { computed } from 'vue';

const emit = defineEmits(['changePage']);

const props = defineProps({
  currentPage: Number,
  countOnPage: Number,
  itemsCount: {
    type: Number,
    default: 0
  }
})
const pagesCount = computed(() => {
    return Math.ceil(props.itemsCount / props.countOnPage);
});

function setPage(pageNum) {
    emit('changePage', pageNum);
}
function incrementPage() {
    if (props.currentPage < pagesCount.value)
        emit('changePage', ++props.currentPage);
}
function decrementPage() {
    if (props.currentPage > 1)
        emit('changePage', --props.currentPage);
}
</script>

<template>
    <div class="pagination">
        <div 
            v-if="pagesCount>1" 
            @click="decrementPage" 
            :class="{'disabled' :props.currentPage == 1}"
            class="page prev"
        >
            <IconArrow class="page__icon"/>
        </div>
        <div
            v-for="page in pagesCount" 
            :key="page"  
            @click="() => setPage(page)" 
            :class="{selected: props.currentPage == page}"
            class="page">
            {{page}}
        </div>
        <div 
            v-if="pagesCount>1" 
            @click="incrementPage" 
            :class="{'disabled' :props.currentPage == pagesCount }"
            class="page next"
        >
            <IconArrow class="page__icon"/>
        </div>
    </div>
</template>

<style lang="scss" scoped>
@import "../../scss/mixins/flex.scss";
@import "../../scss/mixins/size.scss";
@import "../../scss/ui/colors.scss";
.pagination {
    @include flex();
    gap: 8px;
}
.page {
    width: 30px;
    height: 30px;
    @include flex(center, center);
    border-radius: 8px;
    background-color: $white;
    transition: background-color 0.3s;

    &:not(.disabled) {
        cursor: pointer;
    }

    &__icon {
        @include size(18px, 18px);
        fill: $grey;
    }

    &:hover,
    &.selected {
        &:not(.disabled) {
            background-color: $grey-300;
        }
    }
    &.next {
        .page__icon {
            transform: rotate(180deg);
        }
    }
}
</style>
