<script setup>
import IconArrowDown from '@icons/arrow-down.svg'
import {sessions} from '../../constants/mock-sessions';
import Pagination from '../../ui/pagination/Pagination.vue';
import Table from "../../ui/table/Table.vue";

import { watch, ref, computed, inject } from 'vue';

const countOnPage = 11;

const searchString = inject('searchString')
const sort = ref('desc');
const currentPage = ref(1);

const filteredSessions = computed(() => {    
    if (!searchString.value) {
        return sessions;
    }
    return sessions.filter( ({moduleName}) => moduleName.includes(searchString.value) );
});
const filteredItemsCount = computed(() => {
    return filteredSessions.value.length;
});
const pageSessions = computed(() => {    
    return filteredSessions.value.slice(countOnPage * (currentPage.value-1), countOnPage* currentPage.value);
});

watch(sort, () => {
    setCurrentPage(1);
})
watch(searchString, () => {
    setCurrentPage(1);
})

function setCurrentPage(num) {
    currentPage.value = num;
}
function changeSort() {
    sort.value = sort.value == 'desc' ? 'asc' : 'desc';
}
</script>

<template>
    <Table :tableInfo="pageSessions">
        <template v-slot:header>
            <div class="table__th">
                <div class="th__content">
                    <span>Дата и время</span>
                    <div @click="changeSort" :class="{'btn-sort_asc' : sort == 'asc' }" class="btn-sort">
                        <IconArrowDown/>
                    </div>
                </div>
            </div>
            <div class="table__th">
                Статус
            </div>
            <div class="table__th">
                Название учебного модуля
            </div>
            <div class="table__th">
                Тип сессии
            </div>
            <div class="table__th">
                Комната
            </div>
            <div class="table__th">
                Группа
            </div>
        </template>

        <template v-slot:footer>
            <Pagination @changePage="setCurrentPage" :current-page="currentPage" :count-on-page="countOnPage" :items-count="filteredItemsCount"></Pagination>
        </template>
    </Table>

</template>

<style lang="scss" scoped>
.th__content{
    display: flex;
    align-items: center;
    gap: 18px;
}
.btn-sort {
    width: 16px;
    height: 16px;
    cursor: pointer;
    &_asc {
        transform: rotate(180deg);
    }
}
</style>
