<script setup>
const props = defineProps({
  classNames: {
    type: Array,
    default: [],
  }
})
</script>

<template>
  <button class="button" :class="classNames.join(' ')">
    <slot></slot>
  </button>
</template>

<style lang="scss" scoped>
@import "@scss/mixins/flex.scss";
@import "@scss/mixins/fonts.scss";
@import "@scss/ui/colors.scss";

.button {
    min-height: 44px;
    @include flex(center, flex-start);
    gap: 8px;
    border-radius: 12px;
    padding: 10px 16px;
    @include font(15px, 800, 1.6em);
    cursor: pointer;

    &_square {
      width: 44px;
      height: 44px;
      padding: 10px;
    }
    
    &_grey {
      background-color: $grey-100;
    }

    &_blue {
      background-color: $blue;
      color: $white;
    }
}
</style>
