$black-main: #2F3144;
$black-main-65: rgba(47, 49, 68, 0.65);

$white: #ffffff;

$grey: #999999;
$grey-100: #F4F4F4;
$grey-200: #E5E7EA;
$grey-300: #E0E0E0;
$grey-400: #E8EAEC;

$blue: #3761F3;
$yellow: #FFDAA1;
$violet: #AFBFF5;
$green: #91C893;