<script setup>
</script>

<template>
    <div class="page">
        <div class="page__body">
            <div class="page__header">
                <slot name="header"></slot>
            </div>
            <slot></slot>
        </div>
    </div>
</template>

<style lang="scss" scoped>
@import "@scss/mixins/flex.scss";
@import "@scss/mixins/size.scss";
@import "@scss/ui/colors.scss";

.page {
    padding: 8px;
    &__body {
        background-color: $white;
        border-radius: 12px 12px 0 0 ;
        padding: 0 24px 24px;
    }
    &__header {
        min-height: 76px;
        @include flex(center, space-between);
        gap: 14px;
    }
}
</style>