<script setup>
import "./scss/common.scss";
import SessionTable from "./components/session-table/SessionTable.vue";
import Page from "./components/page/Page.vue";
import Aside from "./components/aside/Aside.vue";
import BaseButton from "./ui/base-button/BaseButton.vue";
import BaseInput from "./ui/base-input/BaseInput.vue";
import IconFilter from '@icons/filter.svg'
import IconSort from '@icons/icon-sort.svg'
import IconLoop from '@icons/loop.svg?url'

import { ref, provide } from 'vue';
const searchString = ref('');
provide('searchString', searchString)
</script>

<template>
  <div>
    <div class="app">
      <Aside class="aside"/>

      <Page class="page">
        <template v-slot:header>
          <h2 class="h5">Учебные сессии</h2>
          <div class="sessions-controls">
            <BaseInput placeholder="Поиск" :icon-src="IconLoop" v-model="searchString">
            </BaseInput>            
            <BaseButton :class-names="['button_square', 'button_grey']">
              <IconFilter/>              
            </BaseButton>
            <BaseButton :class-names="['button_square', 'button_grey']">
              <IconSort/>
            </BaseButton>
            <BaseButton :class-names="['button_blue']">
              Создать
            </BaseButton>
          </div>
        </template>

        <SessionTable></SessionTable>
      </Page>

    </div>

  </div>
</template>

<style lang="scss" scoped>
@import "@scss/mixins/flex.scss";
.app {
  display: flex;
  gap: 8px;
}
.page {
  flex-grow: 1;
}
.aside {
  width: 274px;
  flex: 0 0 auto;
}
.sessions-controls {
  @include flex(center, flex-end);
  gap: 14px;

}
</style>
