@import 'normalize';
@import 'animations';
@import "./ui/ui.scss";

body {
    background-color: $grey-100;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    @extend .text-m;

    * {
        box-sizing: border-box;
    }
}