<script setup>
defineProps({
  tableInfo: Array,
})
</script>

<template>
    <div class="table">

        <div class="table__tr">
            <slot name="header">
            </slot>
        </div>
        
        <div v-for="item in tableInfo" :key="item.id" class="table__tr">
            <template v-for="(val, index) in item" :key="item.id+'-'+index">
                <div v-if="index != 'id'" class="table__td">
                    <span v-if="index == 'status'" class="status" :class="{'status-completed' : val == 'Завершено', 'status-planned' : val == 'Запланировано' ,'status-going' : val == 'Идет'  }">
                        {{val}}
                    </span>
                    <template v-else>
                        {{item.id}} / {{val}}
                    </template>
                </div>
            </template>
        </div>
        
        <div class="table__tr table__footer">
            <div class="table__td" colspan="6">
                <slot name="footer">
                </slot>
            </div>            
        </div>

      </div>
</template>

<style lang="scss">
@import "../../scss/ui/colors.scss";
.table {
    width: 100%;
    display: table;
    border-radius: 12px;
    border: 1px solid $grey-400;
    overflow: hidden;

    &__tr {
        display: table-row;
        &:nth-child(odd) {
            background-color: $grey-100;
        }
        &:nth-child(even) {
            background-color: $white;
        }
    }
    &__th,
    &__td {
        display: table-cell;
        padding: 10px 16px;
        vertical-align: middle;
    }

    &__th {
        font-weight: 800;
    }

    &__footer {
        display: table-caption;
        caption-side: bottom;
    }
}

.status {
     padding: 4px 12px;
     border-radius: 43px;
     &-completed {
        background-color: $green;
     }
     &-planned {
        background-color: $violet;
     }
     &-going {
        background-color: $yellow;
     }
}
</style>
